<h1>{{ title }}</h1>
<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- Pour réaliser ce challenge, repars de l'app Angular que tu as créée dans la
précédente quête : Le but de ce challenge est d'afficher un menu pour naviguer
entre le composant sign-up et le composant user-profile Crée un composant menu
qui contiendra deux liens : un vers /signup et l'autre vers /user Crée le
routeur avec 3 routes, une sur signup, une sur user et une par défaut qui
affiche le composant user-profile Le composant app ne doit contenir que le
composant menu et la directive router-outlet Poste le lien vers ton repository
en guise de solution.

Critères de validation ✅
Le composant menu est dans le composant app
Les composants sign-up et user-profile ne sont plus dans le composant app
La directive RouterOutlet est utilisée dans le composant app
Le fichier app.routes.ts est correctement configuré pour afficher le composant sign-up lorsqu'on navigue vers /sign-up
Le fichier app.routes.ts est correctement configuré pour afficher le composant user-profile lorsqu'on navigue vers /user
Le fichier app.routes.ts est correctement configuré pour afficher le composant user-profile lorsqu'on navigue vers /
La navigation entre les composants sign-up et user-profile est fonctionnelle -->
